<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Test</title>
</head>
<body class="body">
<main class="main">
    <div class="main__content">
        <h2 class="content__title">Полезные продукты</h2>
        <section class="content">
            {% block content %}{% endblock %}
            {{ include('product-card.twig') }}
        </section>
        <div class="button-container">
            <button class="button-container button">Показать еще</button>
        </div>

    </div>
    <aside class="sidebar">
        <h2 class="content__title">Последние новости</h2>
        {{ include('product-card-title.twig') }}
    </aside>
</main>

</body>
</html>
